/* styles.css */
#content {
    display:flex;
    justify-self: center;
    align-self: center;
    justify-content:space-between;
    align-content: center;
    width: 800px;
    height: 800px;
    border:2px solid green
}

#project-section{
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    
}

#projects{
    display:flex;
    border:2px solid blue;
    flex-direction: column;
    width: 200px;
    gap:40px;
}


.project-box{
   border:2px solid yellow;
   height: 50px;
   width:150px;

}

#task-section{
    display:flex;
    flex-direction: column;
    justify-content: start;
    width: 600px;
    gap:20px;
    border:2px solid red;
}

.task{
    border:2px solid pink;

}


.cta-btn {
    padding: 12px 30px;
    font-size: 1.2rem;
    outline: none;
    border: none;
    background-color: crimson;
    color: #fff;
    cursor: pointer;
  }


.modal-container {
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .modal {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    width: 400px;
  }
  
  .modal-content {
    padding: 20px;
  }
  
  .modal-form div {
    margin: 20px 0;
  }
  
  .modal-form label {
    display: block;
    margin-bottom: 6px;
  }
  
  .modal-form .form-input {
    padding: 8px;
    width: 100%;
  }
  
  .close-btn {
    background: transparent;
    border: none;
    font-size: 25px;
    position: absolute;
    top: 5px;
    right: 12px;
    cursor: pointer;
  }
  
  .modal-container .submit-btn {
    padding: 10px 30px;
    font-weight: bold;
    background: crimson;
    border: none;
    color: #fff;
    cursor: pointer;
  }
  
  /* JavaScript */
  .modal-container.show-modal {
    display: block;}

#name{width: 300px;}